@import url(https://fonts.google.com/specimen/Big+Shoulders+Display);
@import url(https://fonts.google.com/specimen/Lexend+Deca);
*{
    background-color:  hsl(0, 0%, 95%);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 93vh;
}
#sedan,#suv,#luxury{
    height: 30px;
}
.sedan, .suv, .luxury{
    height: 300px;
    width: 160px;
    padding: 50px;
}
.sedan{
    border-radius: 10px 0px 0px 10px;
}
.luxury{
    border-radius: 0px 10px 10px 0px;
}

p{
    color: hsla(0, 0%, 91%, 0.75);
    font-size: small;
    font-family: lexend deca;
    font-weight: 400;
}
.sedan, .sedan p, .sedan div, .sedan h1, #sedan{
    background-color: hsl(31, 77%, 52%) ; 
}
.suv, .suv p, .suv div, .suv h1, #suv {
    background-color: hsl(184, 100%, 22%);
}
.luxury, .luxury p, .luxury div, .luxury h1, #luxury{
    background-color: hsl(179, 100%, 13%);
}
h1{
    font-family: Big Shoulders Display;
    color:hsl(0, 0%, 95%); 
    font-weight: 700;
    font-size: 30px;
}
button{
    margin-top: 40px;
    height: 40px;
    width: 120px;
    border-style: none;
    border-radius: 60px;
    background-color: hsl(0, 0%, 95%);
    font-family: Lexend deca;
    font-size: 11px;
}
.sedan button{
    color: hsl(31, 77%, 52%) ;
}
.suv button{
    color: hsl(184, 100%, 22%);
}
.luxury button{
    color: hsl(179, 100%, 13%);
}

@media screen and (max-width:375px) {
    .container{
        display: inline-block;
        justify-content: center;
        align-items: center;
        padding: 10%;
    }
    *{
    background-color:  hsl(0, 0%, 95%);       
    }
    .sedan{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .luxury{
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}