
*{
    background-color:  hsl(0, 0%, 95%);
}
.container{
    padding-top: 90px;
    display: flex;
    justify-content: center;
}
#sedan,#suv,#luxury{
    height: 30px;
}
.sedan, .suv, .luxury{
    height: 300px;
    width: 160px;
    padding: 50px;
    
}
p{
    color: hsla(0, 0%, 91%, 0.75);
    font-size: small;
    font-family: lexend deca;
    font-weight: 400;
}
.sedan, .sedan p, .sedan div, .sedan h2, #sedan{
    background-color: hsl(31, 77%, 52%) ; 
}
.suv, .suv p, .suv div, .suv h2, #suv {
    background-color: hsl(184, 100%, 22%);
}
.luxury, .luxury p, .luxury div, .luxury h2, #luxury{
    background-color: hsl(179, 100%, 13%);
}
h2{
    font-family: Big Shoulders Display;
    color:hsl(0, 0%, 95%); 
    font-weight: 700;
    font-size: 30px;
}
button{
    margin-top: 40px;
    height: 40px;
    width: 120px;
    border-style: none;
    border-radius: 60px;
    background-color: hsl(0, 0%, 95%);
    font-family: Lexend deca;
    font-size: 11px;
}
.sedan button{
    color: hsl(31, 77%, 52%) ;
}
.suv button{
    color: hsl(184, 100%, 22%);
}
.luxury button{
    color: hsl(179, 100%, 13%);
}

@media screen and (max-width:375px) {
    .container{
        display: inline-block;
        justify-content: center;
        align-items: center;
        padding: 10%;
    }
    *{
    background-color:  hsl(0, 0%, 95%);       
    }
}